{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <div class="px-4 py-1 my-3 text-center">

        <h1>Service ✅</h1>
        <!--div class="card text-center" style="width: 30rem"></div-->
            <p class="card text-center ">Le garage automobile V Parrot est un établissement renommé situé en France, offrant une gamme complète de services pour les véhicules. Fondé il y a pquelaues mois, ce garage familial s’est forgé une solide réputation dans la région pour son expertise, son professionnalisme et son service clientèle de qualité.


        <h3>Nos Service</h3>


        {# % include 'service/index.html.twig' % #}



        <div class = "col pb-2 pb-sm-3 text-center">
            <div class = " card-hover position-relative bg-light rounded-1 p-3 mb-4">




            </div>
        </div>



        <!---img src = "images/" alt=""--->
     <h3>Réparation</h3>
        <img src = "images/" alt="">

        <table class="table table-dark table-hover">


        <a href="./SecondHandCar"class="stretched-link"><h3>Vente de voiture d'occasion</h3>
        <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-6 justify-content-center">
            <img src = "images/uploads/ClassicMercedesBenz.jpeg" class="img-responsive" style="max-width:25%"  alt="Responsive image">
            <img src = "images/uploads/audiquattro-65c277dc14679480801872.jpeg" class="img-responsive" style="max-width:25%"  alt="Responsive image">
            <img src = "images/uploads/ford-65ba1f24d3f17916448464.webp" class="img-responsive" style="max-width:25%"  alt="Responsive image">

        </div>  </a>
        </table>
</div>

{% endblock %}