{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <h1>Avis</h1>

   {#  {% for review in reviews %}
{{ dump (review) }}
    {{ review.author }}
    {{ review.title }}
    {{ review.content }}

    {% endfor %} #}


{% endblock %}


<!--just added>
<div class="js-filter-content"-->
