{% extends 'base.html.twig' %}

{% block title %}Hello SecondHandCarController!{% endblock %}

{% block body %}

    <!---search bar--->
    <div class="container js-filter ">
    <div class="row">
        <div class = "col-md-3 ">
        {% include 'second_hand_car/_filter.html.twig' with {form: form , min: min, max: max } only %}

    <!--/form-->
    </div>
<div class="justify-content-end mb-2 js-filter-sorting">
    {# { knp_pagination_sortable(SecondHandCars, 'Price', 's.price') }}
    {{ knp_pagination_sortable(SecondHandCars, 'Km', 's.km') }}
    {{ knp_pagination_sortable(SecondHandCars, 'Year', 's.year') }#}
    {% include 'second_hand_car/_sorting.html.twig' %}
</div>
        <div class="px-4 py-1 my-3 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Voitures d'occasion ✅</h1>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 js-filter-content">
            {% include 'second_hand_car/_second_hand_cars.html.twig' %}
        </div>
    </div>
    </div>


    <!--div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 filter-content"-->


        <div class="js-filter-pagination">
{# {{ knp_pagination_render(SecondHandCars) }} #}
        </div>


{% endblock %}

