 {% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row text left text-md-left container-fluid ">


    <div class="container text-center display-flex">
        <div class="row mr-0">
            <div class="col-3 ">
                <h5 class="text-uppercase mb-3  ">Horaires</h5>

   {% for OpeningHour in OpeningHours %}
    <h3>{{ OpeningHour.dayOfWeek }}</h3>
       {{ OpeningHour.timeOpen()|date('d-m-Y H:i:s') }}

    {% endfor %}
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}
