{% extends 'base.html.twig' %}

{% block title %}Services!{% endblock %}

{% block body %}
    <div class = "col pb-2 pb-sm-3 text-center">
       <div class = " card-hover position-relative bg-light rounded-1 p-3 mb-4">
    <h1>Nos Services</h1>
       </div>
    <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-2 g-6 justify-content-center ">
        <div class="img-fluid ">

        <img src= "images/pexels-cottonbro-studio-4488657.jpg" class="img-fluid rounded-4" alt="image-garage" >

        </div>
    </div>
    </div>

    <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for Service in Services %}
        <div class = "col pb-2 pb-sm-3 text-center">
            <div class = " card-hover position-relative bg-light rounded-1 p-3 mb-4 text-center">

                <div class="card mb-4 rounded-3 shadow-sm">
                <h5 class=" card-header py-3 text-danger bg-dark">
                {{ Service.title }}
                </h5>
                </div>
                    <div class="card-body-image img-fluid">
                <img src="{{ vich_uploader_asset(Service, 'imageFile') }}" width ="350" height = "350" class="img-fluid" alt="{{ Service.image }}">
                    </div>
                <div class="content card mb-3 rounded-3 shadow-sm text-bg-secondary ">
                {{ Service.content }}
                </div>
                <a href="/contact" class="btn btn-info" role="button">Contactez nous</a>
        </div>
        </div>


    {% endfor %}
    </div>
{% endblock %}