body {
    background-color:lightgray;
}


.img-responsive
{
    width: 800px;
}

.noUi-handle {
    width: 10px !important;
    right: -5px !important; /*  must be (width / 2) * -1 */
    background: #AA00AA;
}

.card-hover
{
    transition: all 0.3s;

}

.card-hover:hover
{
    transform:scale(1.15);

}

.card-hover-body
{
    display:flex;
    height: 100%;
    flex-direction: column ;
}

.card-hover-text
{
    flex-grow: 1;
}

/*.img-fluid
{
    width:100%;
    max-height: 300px ;
}*/


/*.form-control*/#search_form_minPrice, #search_form_maxPrice, #search_form_minKm, #search_form_maxKm, #search_form_minYear, #search_form_maxYear
{
    visibility:hidden;
    opacity: 0;
}