body {
    background-color:lightgray;
}

.img-responsive
{
    width: 800px;
}

.noUi-handle {
    width: 10px !important;
    right: -5px !important; /*  must be (width / 2) * -1 */
    background: #AA00AA;
}


#search_form_minPrice, #search_form_maxPrice, #search_form_minKm, #search_form_maxKm, #search_form_minYear, #search_form_maxYear
{
    visibility:hidden;
    opacity: 0;
}