{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot Contacte!{% endblock %}

{% block body %}

<div class="container">
    <h1>Formulaire de Contacte</h1>
    {{ form(form) }}
</div>
{% endblock %}
