<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA" crossorigin="anonymous" referrerpolicy="no-referrer" >
        <script src="https://unpkg.com/wnumb@1.1.0"></script>
        <link rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block header %}
        <header class="bg-dark p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                        <!--svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg-->
                        <div class="d-flex col-lg-4 mb-2 ">
                           <img src="images/zu_kDf3vYalXOU_FcRbWm-transformed.png" class="img" height="100px" width="100px">
                        </div>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 ">Accueil</a></li>
                        <li><a href="/SecondHandCar" class="nav-link px-2 text-white">Voiture d'occasion</a></li>
                        <li><a href="/service" class="nav-link px-2 text-white">Services</a></li>
                        <li><a href="/contact" class="nav-link px-2 text-white">Contacte</a></li>
                        <li><a href="/avis" class="nav-link px-2 text-white">Avis</a></li>
                    </ul>

                    <!--form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form-->

                    <div class="Admin">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                            <img src="images/zu_kDf3vYalXOU_FcRbWm-transformed.png" alt="mdo" width="40" height="40" class="rounded-circle">

                        </a>
                        <ul class="dropdown-menu text-small" style>
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                            <!--li><a class="dropdown-item" href="#">Settings</a></li>
                           <li><a class="dropdown-item" href="#">Profile</a></li>
                           <li><hr class="dropdown-divider" href="#"></li>
                           <li><a class="dropdown-item" href="#">Sign out</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block stylesheets %}
            {{  encore_entry_link_tags('app') }}

            <!--link rel="stylesheet" href="{# {asset('build/app.css') }}#} "-->
            <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"--->

        {% endblock %}

        {% block javascripts %}
             {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}

            <!--script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script-- src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script-->

        {% endblock %}

    </head>
    <body>
        {% block body %}
            {# { render_esi(path('ch_cookie_consent.show')) } #}
            {# { render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set')) } #}

        {% endblock %}
    </body>
        <!----footer----->
        <footer class="bg-dark text-white pt-5 pb-4 mt-0! mh-25 ">

            <!--div class = "timetable"-->

            <div class="container mt-0 mb-0 ">

                <div class="text center ">
                    <div class = "col-auto row-center col-xl-1 m-auto mt-0">
                        <!--h4 class="text-lg-start-center text-nowrap text-uppercase font-weight-bold col-md-10">Vincent Parrot</h4-->
                        <!--h4 class="justify-content-center text-nowrap text-uppercase font-weight-bold col-md-10"-->
                        <img src="images/zu_kDf3vYalXOU_FcRbWm-transformed.png" width="110" length="110" class="img-logo" alt="logo">
                        </h4>

                    </div>

                    <div class="row text left text-md-left container-fluid ">


                                 <div class="container text-center">
                                     <div class="row mr-0">
                                         <div class="col-3 ">
                                             <h5 class="text-uppercase mb-3  ">Horaires</h5>
                                             <tr>
                                                 <td>Lundi:</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Mardi</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Mercredi</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Jeudi</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Vendredi</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Samedi</td>
                                                 <td>9h-12h, 14h-18.30</td><br>
                                                 <td>Dimanche</td>
                                                 <td>Fermé</td><br>
                                                 <td></td>
                                             </tr>

                                         </div>

                                         <div class="col middle">

                                         </div>

                                         <div class="col middle">

                                         </div>


                                         <div class="col-3">
                                             <h5 class="text-uppercase mb-3 ">Contact</h5>
                                             <p>
                                                 <i class="fas fa home mr-3"></i>106, route de Maurice, 31000 Toulouse
                                             </p>
                                             <p>
                                                 <i class="fas fa home mr-3"></i>vincent.parrot@hotmail.com
                                             </p>
                                             <p>
                                                 <i class="fas fa home mr-3"></i>+33 (0)2 99 96 66 66
                                             </p>
                                             <p>
                                                 <button onclick="https//www.google.com" class="rounded border-danger">Itineraire</button>
                                                 <!--a href="https://www.google.com/maps/place/Cité+de+l'Espace/@43.6007032,1.4328424,12z/data=!4m15!1m8!3m7!1s0x12aebb6fec7552ff:0x406f69c2f411030!2sToulouse!3b1!8m2!3d43.604652!4d1.444209!16zL20vMGNiaGg!3m5!1s0x12aebda8aa57f62f:0x76e19e69940e4e52!8m2!3d43.5866272!4d1.4933567!16s%2Fm%2F0262twn?entry=ttu"></a-->
                                             </p>


                                         </div>

                                     </div>
                                 </div>
                    </div>
            </div>
            </div>
            <!--footer class="py-3 my-4"-->
                <ul class="nav justify-content-center border-bottom pb-1 mb-3">
                    <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Accueil</a></li>
                    <li class="nav-item"><a href="/SecondHandCar" class="nav-link px-2 text-light">Voiture d'occasion</a></li>
                    <li class="nav-item"><a href="/services" class="nav-link px-2 text-light">Services</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link px-2 text-light">Contact</a></li>
                    <li class="nav-item"><a href="/avis" class="nav-link px-2 text-light">Avis</a></li>
                </ul>

            <!------Terms of use---------->
                <p class="text-center text-body-secondary"><!--a href="https://www.capterra.fr/legal/general-user-terms"--><a href="https://www.capterra.fr/legal/general-user-terms">Conditions d'utilisation</a> · <a href="#">Terms</a></p><p class="text-center text-body-secondary">© 2023 Company, Inc</p>

            <!-----socials------>

            <ul class="nav justify-content-end pb-0 mb-0 me-3 ">
                <li class="nav-item"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
            </ul>
            <div class="ms-3 mb-9 pb-0">
            <button onclick = " window.location = '{{ path('app_logout') }}' " class="btn btn-danger btn-lg">Logout</button>
            </div>

    </div>

    </div>
        <div>
        </div>
        </footer>
    </body>
</html>

